<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizziz</title>
</head>
<body>
    <div class = "info">Soal {{idx +1}} dari {{total}} | Skor: {{score}}</div>
    <div class = "q">{{q.q}}</div>

    <form method = "POST">
        {% for p in pilihan %}
        <label><input type="radio" name="answer" value="{{p}}"> {{p}}</label><br>
        {% endfor %}
        <button type="submit">Jawab</button>
    </form>
</body>
</html>